.container:hover {
    opacity: 0.3;
}

.update {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .update {
    opacity: 1;
}

.image {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}